{% extends "base.html" %}
{% load staticfiles %}

{% block site_name %}Galerie {{category}} | {{block.super}}{% endblock %}

{% block site_description %}Eine Übersicht der Galerie {{category}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
{% endblock css %}

{% block nav_gallery_active %}nav_active{% endblock %}

{% block content %}
	<article>
		<div class="gallery">
			<header>
				<h1>{{category}}</h1>
			</header>
			
			<div class="content_gallery">
		
			
			{% for img in category.picture_set.all %}
				<!--<a title="{{img.title}}" class="fancybox" rel="{{category.slug}}" href="{{ MEDIA_URL }}{{img.image}}"><img src="{{ MEDIA_URL }}{{img.thumb}}" alt="" /></a>-->
				<div class="picture-container">
					<a title="{{img.title}}" class="fancybox" rel="{{category.slug}}" href="{{ MEDIA_URL }}{{img.image}}">
						<img class="picture" src="{{ MEDIA_URL }}{{img.thumb}}" alt="" />
					</a>
				</div>
			{% endfor %}

		</div>
	</article>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}