{% extends "base.html" %}
{% load staticfiles %}

{% block site_name %}Galerie {{category}} | {{block.super}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
{% endblock css %}

{% block nav_gallery_active %}nav_active{% endblock %}

{% block content %}
	<div class="gallery">
		
		<h1>{{category}}</h1>
		
		{% for img in category.picture_set.all %}
		<a title="{{img.title}}" class="fancybox" rel="{{category.slug}}" href="{{ MEDIA_URL }}{{img.image}}"><img src="{{ MEDIA_URL }}{{img.thumb}}" alt="" /></a>
		
		{% endfor %}
		
	</div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}