<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Sascha Mlakar - Photography</title>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider-default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/scoutman.css" type="text/css" media="screen" />

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="header">
		<img src="{{ STATIC_URL }}img/header.png" /> 
	</div>

	<div>
		<ul class='nav'>
			<li>
				<a href="">Homepage</a>
			</li>
			<li>
				<a href="">Galerie</a>
				<ul>
					<li>
						<a href="">Your Favorites</a>
					</li>
					<li>
						<a href="">Natur</a>
					</li>
					<li>
						<a href="">Berge</a>
					</li>
					<li>
						<a href="">Blumen</a>
					</li>					
				</ul>
			</li>
			<li>
				<a href="">Blog</a>
				<ul>
					<li>
						<a href="">Features</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="">Über mich</a>				
			</li>
		</ul>
	</div>
	
	<div style="clear:both;"></div>
	
	<div class="slider-wrapper theme-default">
		<div id="slider" class="nivoSlider">
			<img src="{{ STATIC_URL }}images/toystory.jpg" data-thumb="{{ STATIC_URL }}images/toystory.jpg" alt="" />
			<img src="{{ STATIC_URL }}images/up.jpg" data-thumb="{{ STATIC_URL }}images/up.jpg" alt=""  />
			<img src="{{ STATIC_URL }}images/walle.jpg" data-thumb="{{ STATIC_URL }}images/walle.jpg" alt="" />
			<img src="{{ STATIC_URL }}images/nemo.jpg" data-thumb="{{ STATIC_URL }}images/nemo.jpg" alt="" />
		</div>
	</div>	
	
	<div class="content">
		<h1>Test Überschrift</h1>
		<h2>Test Überschrift</h2>

		
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd <a href="">ich bin ein link</a> dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
		test as asd dasd sadas d<br />
				
	</div>

	<div class="gallery">
		
		<a href="{{ STATIC_URL }}images/1.jpg" data-lightbox="gallery-1" title="test"><img src="{{ STATIC_URL }}images/1.jpg" /></a>
		<a href="{{ STATIC_URL }}images/2.jpg" data-lightbox="gallery-1"><img src="{{ STATIC_URL }}images/2.jpg" /></a>
		<a href="{{ STATIC_URL }}images/3.jpg" data-lightbox="gallery-1"><img src="{{ STATIC_URL }}images/3.jpg" /></a>
		<a href="{{ STATIC_URL }}images/4.jpg" data-lightbox="gallery-1"><img src="{{ STATIC_URL }}images/4.jpg" /></a>
		<a href="{{ STATIC_URL }}images/5.jpg" data-lightbox="gallery-1"><img src="{{ STATIC_URL }}images/5.jpg" /></a>
		<a href="{{ STATIC_URL }}images/6.jpg" data-lightbox="gallery-1"><img src="{{ STATIC_URL }}images/6.jpg" /></a>
		
	</div>
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox-2.6.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/scoutman.js"></script>
	
</body>
</html>
