{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>{% block site_name %}{{config.site_name}}{% endblock %}</title>

<meta charset="utf-8">
<meta name="description" content="{% block site_description %}Portfolio von Sascha Mlakar Photography | Natur- und Landschaftsfotografie{% endblock %}">
<meta name="author" content="Sascha Mlakar">
<meta name="keywords" content="photography, sascha mlakar, fotografie, landscape, landschaft, landschaftsfotografie, natur">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#2F2F31">

<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/scoutman.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
{% block css %}{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" media="screen" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700" rel="stylesheet">
<link rel="apple-touch-icon" href="{% static 'img/ente-128px.png' %}" />

</head>

<body>
	
	<header>
		<div class="header">
			<a href="{% url 'home:home' %}"><img width="300" src="{% static 'img/Unterschrift_Sascha_Photography.png' %}" /></a>
		</div>
	</header>

	<nav>
		<ul class="nav">
							
			<li>
				<a class="{% block nav_home_active %}{% endblock %}" href="{% url 'home:home' %}">Home</a>
			</li>
			
			<li>
				<span class="{% block nav_gallery_active %}{% endblock %}">Galerie</span>
				<ul>
					{% for category in category_list %}
						<li>
							<a href="{% url 'gallery:category' category.slug %}">{{ category.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</li>

			<li>
				<a class="{% block nav_about_active %}{% endblock %}" href="{% url 'ueber-mich' %}">Über mich</a>
			</li>

		</ul>
	</nav>
	
	<div style="clear:both;"></div>
	
	{% block content %}{% endblock %}
	
	<footer>

		<a href="http://www.facebook.com/SaschaMlakarPhotography"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
		<a href="https://www.instagram.com/scoutman_at"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
		<a href="http://500px.com/scoutman"><i class="fa fa-500px fa-lg" aria-hidden="true"></i></a>

	</footer>
	
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	{% block javascript %}{% endblock %}
	<script type="text/javascript" src="{% static 'fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
	<script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>	
	<script type="text/javascript" src="{% static 'js/scoutman.js' %}"></script>
	
	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-23788584-2', 'scoutman.at');
		  ga('send', 'pageview');
	</script>
	
</body>
</html>
