{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Sascha Mlakar - Photography</title>

<link rel="stylesheet" type="text/css" href="{% static '' %}css/normalize.css">
<link rel="stylesheet" href="{% static 'css/scoutman.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/nivo-slider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/nivo-slider-default.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}" type="text/css" media="screen" />

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="header">
		<img src="{% static 'img/header.png' %}" /> 
	</div>

	<div>
		<ul class='nav'>
			<li>
				<a href="{% url 'home' %}">Homepage</a>
			</li>
			<li>
				<a href="gallery">Galerie</a>
				<ul>
					{% for category in category_list %}
						<li>
							<a href="gallery/{{ category.slug }}">{{ category.name }}</a>
						</li>						
					{% endfor %}				
				</ul>
			</li>
			<li>
				<a href="{% url 'blog' %}">Blog</a>
			</li>
			<li>
				<a href="">Über mich</a>				
			</li>
		</ul>
	</div>
	
	<div style="clear:both;"></div>
	
	<div class="slider-wrapper theme-default">
		<div id="slider" class="nivoSlider">
			<img height="340" width="1150" src="{% static 'images/toystory.jpg' %}" data-thumb="{% static 'images/toystory.jpg' %}" />
			<img height="340" width="1150" src="{% static 'images/up.jpg' %}" data-thumb="{% static 'images/up.jpg' %}"  />
			<img height="340" width="1150" src="{% static 'images/walle.jpg' %}" data-thumb="{% static 'images/walle.jpg' %}" />
			<img height="340" width="1150" src="{% static 'images/nemo.jpg' %}" data-thumb="{% static 'images/nemo.jpg' %}" />
		</div>
	</div>	

	
	{% block upload %}{% endblock %}
	{% block gallery %}{% endblock %}
	{% block blog %}{% endblock %}

	
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nivo.slider.pack.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lightbox-2.6.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scoutman.js' %}"></script>
	
</body>
</html>
